#footer 
  background-color color-footer;
  width 100%;
  padding 0 0 0 0;
  border none;
  color #bebebe;
  margin-top 80px;
  overflow hidden;


#footer .content 
  background-color color-footer;
  height 300px;
  margin 0 auto;


#footer .title 
  font-size 18px;
  height 80px;
  line-height 80px;
  color #ffffff;
  margin-top 20px;


#footer .left 
  float left;
  width 40%;
  font-size 15px;
  line-height 40px;
  text-align center;
  margin-top 20px;
  @media table
	  text-align center


#footer .mid 
  float left;
  width 30%;
  font-size 15px;
  height 40px;
  line-height 40px;
  text-align left;
  margin-top 20px;


#footer .mid a,
#footer .left a 
  color #bebebe;
  text-decoration none;
  
#footer .mid .B
  @media phone
    display block
  @media mini
    display inline-block



#footer .right 
  float right;
  width 30%;
  font-size 15px;
  margin-top 20px;
  text-align center;
  @media tablet
	  text-align left;


#footer .ul 
  list-style none;
  padding 0px;


#footer .li 
  height 40px;
  line-height 40px;


#footer .bottom 
  background-color #1f1f1f;
  width 100%;


#footer .bottom .word 
  background-color #1f1f1f;
  height 60px;
  line-height 60px;
  font-size 14px;
  color #bebebe;
  margin 0 auto;
  text-align center;
  @media mini
    width 96%


img.wx 
  width 100px;
